.footer {
  background-color: var(--footer-color);
  padding: 60px 0px;
  &__high {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 144px;
    }
    @include desktop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 70px;
    }
  }
  &-left__side {
    text-align: center;
    padding-bottom: 60px;
    @include desktop {
      text-align: start;
    }
  }
  &__contacts a {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  &__contacts-item {
    color: var(--contacts-color);
    display: flex;
    flex-direction: column;
    padding-top: 9px;
  }
  &--adress {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
    margin-top: 20px;
    font-style: normal;
    margin-bottom: 9px;
  }
}
