.lorems {
  display: flex;
  gap: 30px;
  flex-direction: column;
  @include tablet {
    min-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop {
    max-width: 1200px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
  }
  &__items {
    max-width: 450px;

    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
  &__icon {
    width: 270px;
    height: 120px;
  }
  &__header {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__content {
    font-size: 14px;
    line-height: 1.7;
    color: var(--contacts-color);
  }
}
