.footer-mail {
  margin-top: 12px;

  &__header {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
    letter-spacing: 0.06rem;
  }
  &__input {
    margin-top: 20px;
    border: 1px solid #ffffff4d;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    background: #2f303a;
    padding: 15px;
    width: 358px;
    margin-right: 12px;
    color: var(--white-color);
  }
}
.footer-submit {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--font-primary);
  font-weight: 700;
  text-align: center;
  padding: 10px 24px 10px 42px;
  letter-spacing: 0.06rem;
  position: relative;
  top: 0px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  &__icon {
    margin-left: 24px;
  }
}
