.menu-container.is-open {
  transform: translate(0);
}

.menu-container {
  background-color: var(--white-color);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  transform: translate(100%);
  transition: transform 250ms ease;
  &__close-btn {
    position: absolute;
    top: 21px;
    right: 26px;
    cursor: pointer;
    background: transparent;
    border: none;
    &:hover,
    &:focus {
      fill: var(--hover-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @include desktop {
    display: none;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 32px;
  &__link {
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--studio-color);
    line-height: 1.1;
    &:hover,
    &:focus {
      color: var(--hover-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 32px;
  &__link {
    font-family: var(--font-primary);
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    line-height: 1.1;
    &:hover,
    &:focus {
      color: var(--hover-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.mobile-social {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  &__link {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    line-height: 1.1;
    margin-right: 20px;
  }
  &__line {
    border: 1px solid #21212133;
    height: 22px;
  }
}
