.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  &__card {
    border: 1px solid #eeeeee;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
        0px 1px 1px 0px #0000001f;
    }
  }

  &__overlay {
    position: relative;
    overflow: hidden;

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--hover-color);
    color: var(--white-color);
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-primary);
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
  }
  &__card:hover &__description {
    transform: translateY(0);
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    padding: 20px 24px 4px 24px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 1.8;
    color: var(--contacts-color);
    padding: 4px 24px 20px 24px;
  }
}
