.section {
  padding: 94px 0;
  &--team {
    background-color: var(--background-button);
  }
  &--padding {
    padding-top: 0;
    display: none;

    @include tablet {
      padding-top: 0;
      display: none;
    }
    @include desktop {
      display: flex;
    }
  }
  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 50px;
  }
}
