:root {
  --brand-color: #212121;
  --hover-color: #2196f3;
  --studio-color: #000000;
  --contacts-color: #757575;
  --company-color: #afb1b8;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --icon-footer-color: #ffffff1a;
  --link-color: #ffffff99;
  --img-tittle-color: #2f303acc;
  --backdrop-color: #00000033;
  --background-button: #f5f4fa;
  --border-buttom: #ececec;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}
